.perfect-smile {
  margin-top: 1px;
}

.perfect-smile__text {
  margin-top: 30px;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  color: var(--transparent-color);
  opacity: 1;
}

.perfect-smile__text-bucal {
  color: var(--blue-color);
  margin-top: 7px;
  font-size: 18px;
  text-align: center;

  margin-bottom: 15px;
}

.perfect-smile__schedule {
  margin-top: 10px;
  text-align: center;
  width: 135px;
  height: 38px;
  border-radius: 5px;
  padding-top: 8px;
  background-color: var(--blue-color);
}

.perfect-smile__schedule-botton {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  color: white;
  border-radius: 5px;
  margin-bottom: 20px;
}

.perfect-smile__image {
  margin-top: 74px;
  width: 75%;
}

@media (min-width: 900px) {
  .perfect-smile {
    width: 850px;
    height: 490px;
  }
}

@media (min-width: 900px) {
  .perfect-smile__text {
    margin-top: 167px;
    margin-right: 320px;
    font-size: 20px;
    text-align: center;
  }
}

@media (min-width: 900px) {
  .perfect-smile__text-bucal {
    width: 517px;
    height: 86px;
    margin-top: 27px;
    margin-left: -10px;
    font-size: 26px;
    font-weight: 600;
  }
}

@media (min-width: 900px) {
  .perfect-smile__image {
    width: 40%;

    margin-top: -300px;
    margin-left: 503px;
  }
}

@media (min-width: 900px) {
  .perfect-smile__schedule {
    width: 174px;
    height: 39px;
    margin-top: 75px;
    margin-left: 180px;
  }
}

@media (min-width: 1200px) {
  .perfect-smile__text {
    font-size: 24px;
    font-weight: 500;
    margin-right: 400px;
  }
}
@media (min-width: 1200px) {
  .perfect-smile__image {
    position: absolute;
    top: 2700px;
    left: 100px;
    width: 431px;
  }
}

@media (min-width: 1200px) {
  .perfect-smile__text-bucal {
    font-size: 36px;
    font-weight: 600;
  }
}
