.services {
  margin-top: 80px;
  margin-left: 12px;
  margin-right: 12px;
  padding: 5px;
  text-align: center;
}

.services__span {
  margin-top: 65px;
  color: Var(--transparent-color);
  opacity: 1;
  font-size: 18px;
  font-weight: 600;
}

.services__text {
  margin-top: 26px;
  font-size: 24px;
  font-weight: 600;
  color: var(--black-color);
  text-align: center;
}
.services__text-protection {
  margin-top: 29px;
  text-align: center;

  font-weight: 500;
  font-size: 18px;
  color: var(--black-color);
}

.services__icon1 {
  margin-top: 58px;
}

.services__icon2 {
  margin-top: 41px;
}
.services__text-odontologia {
  margin-top: 27px;
  text-align: center;

  font-weight: 500;
  font-size: 18px;
  color: var(--black-color);
}

.services__icon3 {
  margin-top: 47px;
}
.services__text-limpeza {
  margin-top: 23px;
  text-align: center;

  font-weight: 500;
  font-size: 18px;
  color: var(--black-color);
}

.services__icon4 {
  margin-top: 41px;
}

.services__text-implantes {
  margin-top: 22px;
  text-align: center;

  font-weight: 500;
  font-size: 18px;
  color: var(--black-color);
}

.services__icon5 {
  margin-top: 40px;
}

.services__text-clareamento {
  margin-top: 39px;
  text-align: center;

  font-weight: 500;
  font-size: 18px;
  color: var(--black-color);
}

@media (min-width: 900px) {
  .services__span {
    font-size: 25px;
  }
}

@media (min-width: 900px) {
  .services__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 900px) {
  .icon1 {
    margin-top: 20px;
    max-width: 50%;
  }
}

@media (min-width: 900px) {
  .icon2 {
    margin-top: 41px;
    max-width: 50%;
  }
}

@media (min-width: 900px) {
  .icon3 {
    margin-top: 27px;
    max-width: 65%;
  }

  @media (min-width: 900px) {
    .icon4 {
      margin-top: 45px;
      max-width: 50%;
    }
  }

  @media (min-width: 900px) {
    .icon5 {
      margin-top: 37px;
      max-width: 50%;
    }
  }

  @media (min-width: 900px) {
    .services__text {
      font-size: 30px;
    }
  }

  @media (min-width: 1200px) {
    .services {
      max-width: 1400px;
    }
  }

  @media (min-width: 1200px) {
    .services__list {
      max-width: 1400px;
    }
  }
  @media (min-width: 1200px) {
    .services__span {
      font-size: 30px;
    }
  }

  @media (min-width: 1200px) {
    .icon1 {
      max-width: 100%;
    }
  }

  @media (min-width: 1200px) {
    .services__text-protection {
      font-size: 20px;
    }
  }

  @media (min-width: 1200px) {
    .icon2 {
      max-width: 100%;
    }
  }
  @media (min-width: 1200px) {
    .services__text-odontologia {
      font-size: 20px;
    }
  }
}
@media (min-width: 1200px) {
  .icon3 {
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .services__text-limpeza {
    font-size: 20px;
    margin-top: 31px;
  }
}

@media (min-width: 1200px) {
  .icon4 {
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .services__text-implantes {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  .icon5 {
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .services__text-clareamento {
    font-size: 20px;
    margin-top: 36px;
  }
}
