.services {
  margin-top: 80px;
  width: 266px;
  height: 964px;
  margin-left: 44px;
}

.services__span {
  margin-top: 65px;
  width: 77px;
  height: 25px;
  color: Var(--transparent-color);
  opacity: 1;
  font-size: 18px;
  font-weight: 600;
  margin-left: 94.5px;
}

.services__text {
  margin-top: 26px;
  width: 266px;
  height: 58px;
  font-size: 24px;
  font-weight: 600;
  color: var(--black-color);
  text-align: center;
}
.sevices__list {
  display: flex;
  flex-direction: column;
}

.services__icon1 {
  width: 66px;
  height: 66px;
  margin-left: 100px;
  margin-top: 58px;
}

.services__text-protection {
  margin-left: 39.5px;
  margin-top: 24px;
  text-align: center;
  width: 187px;
  height: 25px;
  font-weight: 500;
  font-size: 18px;
  color: var(--black-color);
}
.services__icon2 {
  width: 66px;
  height: 66px;
  margin-top: 41px;
  margin-left: 100px;
}
.services__text-odontologia {
  margin-left: 39.5px;
  margin-top: 24px;
  text-align: center;
  width: 187px;
  height: 25px;
  font-weight: 500;
  font-size: 18px;
  color: var(--black-color);
}

.services__icon3 {
  width: 66px;
  height: 66px;
  margin-top: 43px;
  margin-left: 100px;
}
.services__text-limpeza {
  margin-left: 39.5px;
  margin-top: 21px;
  text-align: center;
  width: 187px;
  height: 25px;
  font-weight: 500;
  font-size: 18px;
  color: var(--black-color);
}

.services__icon4 {
  width: 66px;
  height: 66px;
  margin-top: 43px;
  margin-left: 100px;
}

.services__text-implantes {
  margin-left: 39.5px;
  margin-top: 21px;
  text-align: center;
  width: 187px;
  height: 25px;
  font-weight: 500;
  font-size: 18px;
  color: var(--black-color);
}

.services__icon5 {
  width: 66px;
  height: 66px;
  margin-top: 43px;
  margin-left: 100px;
}

.services__text-clareamento {
  margin-left: 39.5px;
  margin-top: 43px;
  text-align: center;
  width: 187px;
  height: 25px;
  font-weight: 500;
  font-size: 18px;
  color: var(--black-color);
}

@media (min-width: 900px) {
  .services {
    width: 850px;
    height: 214px;
  }
}

@media (min-width: 900px) {
  .services__span {
    width: 85px;
    height: 40px;
    font-size: 25px;
    margin-left: 382.5px;
  }
}

@media (min-width: 900px) {
  .services__text {
    width: 661px;
    height: 31px;
    font-size: 30px;
    margin-left: 94.5px;
  }
}

@media (min-width: 900px) {
  .services__icon1 {
    position: absolute;
    top: 1550px;
    left: 5px;
  }
}

@media (min-width: 900px) {
  .services__icon2 {
    position: absolute;
    top: 1566px;
    left: 171px;
  }
}

@media (min-width: 900px) {
  .services__icon3 {
    position: absolute;
    top: 1566px;
    left: 333px;
  }
}

@media (min-width: 900px) {
  .services__icon4 {
    position: absolute;
    top: 1575px;
    left: 532px;
  }
}

@media (min-width: 900px) {
  .services__icon5 {
    position: absolute;
    top: 1568px;
    left: 675px;
  }
}

@media (min-width: 900px) {
  .services__text-protection {
    position: absolute;
    top: 1662px;
    left: 2px;
  }
}

@media (min-width: 900px) {
  .services__text-odontologia {
    position: absolute;
    top: 1662px;
    left: 173px;
  }
}

@media (min-width: 900px) {
  .services__text-limpeza {
    position: absolute;
    top: 1665px;
    left: 334px;
  }
}

@media (min-width: 900px) {
  .services__text-implantes {
    position: absolute;
    top: 1665px;
    left: 527px;
  }
}

@media (min-width: 900px) {
  .services__text-clareamento {
    position: absolute;
    top: 1643px;
    left: 670px;
  }
}
